*{
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(151, 146, 146);
}
h1{
    color: black;
    text-align: center;
    -webkit-text-stroke: 1px white; 
   
}
article{
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
    width: 30%;
}
article h3{
    font-size: 1.5rem;
    text-align: center;
}
article img {
    max-width: 90%;
}
article footer{
    font-size: 0.7rem;
}
p {
    font-family: 'Open Sans', sans-serif;
    }
